@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --bright_orange: hsl(31, 77%, 52%);
    --dark_cyan: hsl(184, 100%, 22%);
    --very_dark_cyan: hsl(179, 100%, 13%);
    --transparent_white:/*paragraphs*/ hsla(0, 0%, 100%, 0.75);
    --very_light_gray:/*(background, headings, buttons)*/ hsl(0, 0%, 95%);
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.wrapper{
    width:62%;
    margin:0 auto;
    height:100%;
    display:flex;
    flex-direction: column;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-size:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.card{
    max-width:270px;
}
h1{
    color:var(--transparent_white);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}
.card:nth-child(1){
    background-color: var(--bright_orange);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.card:nth-child(2){
    background-color: var(--dark_cyan);
}
.card:nth-child(3){
    background-color: var(--very_dark_cyan);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.wrapper{
    padding:30px 0;
}
.wrapper  > * {
    margin-bottom:30px;
}
 .wrapper p{  
    height:180px;
    line-height:22px;
    font-size:12px;
    color:var(--transparent_white);
}
.click{
    text-align: center;  
    margin-bottom:0;
    padding:12px 0;
    background-color: aliceblue;
    max-width:120px;
    min-width:80px;
    border-radius:20px;
    font-size:13px;
}
.click a{
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;  
}
.sedan{
    color:var(--bright_orange);
}
.suv{
    color:var(--dark_cyan);
}
.luxury{
    color:var(--very_dark_cyan);
}


@media screen and (max-width:500px){
    .wrapper{
        width:80%;
    }
}
@media screen and (max-width:375px) {
    body{
        flex-direction: column; 
        height:auto;
        margin:100px 0;
    }
    .wrapper{
        width:80%;
    }
    .wrapper p{
        height:auto;
    }
    .card {
        border-radius:none;
    }
    .card:nth-child(1){
        border-radius:15px 15px 0 0;
    }
    .card:nth-child(2){
        border-radius:none;
    }
    .card:nth-child(3){
        border-radius:0 0 15px 15px;
    }
}