@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --bright_orange: hsl(31, 77%, 52%);
    --dark_cyan: hsl(184, 100%, 22%);
    --very_dark_cyan: hsl(179, 100%, 13%);
    --transparent_white:/*paragraphs*/ hsla(0, 0%, 100%, 0.75);
    --very_light_gray:/*(background, headings, buttons)*/ hsl(0, 0%, 95%);
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.wrapper{
    width:65%;
    margin:30px auto;
    height:100%;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-size:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.card{
    max-width:260px;
}
h1{
    color:var(--transparent_white);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size:30px;
}
.card:nth-child(1){
    background-color: var(--bright_orange);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.card:nth-child(2){
    background-color: var(--dark_cyan);
}
.card:nth-child(3){
    background-color: var(--very_dark_cyan);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card .wrapper > * {
   margin-bottom:20px;
}
 .card .wrapper p{  
    height:180px;
    line-height:22px;
    font-size:12px;
    color:var(--transparent_white);
    margin-bottom:0;
}
.card .wrapper a{  
    display:block;
    padding:12px 22px;
    background-color: white;
    text-align: center;
    width:120px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 25px;
    border:1px solid transparent;
    transition: all 0.2s ease-in;
    margin-bottom:0;
}
.card .wrapper a:hover{
    color:var(--transparent_white);
    background-color: transparent;
    border:1px solid white;
}
.sedan{
    color:var(--bright_orange);
}
.suv{
    color:var(--dark_cyan);
}
.luxury{
    color:var(--very_dark_cyan);
}

@media screen and (max-width:500px){
    .wrapper{
        width:80%;
    }
}
@media screen and (max-width:410px) {
    body{
        flex-direction: column; 
        height:auto;
        margin:100px 0;
    }
    .wrapper{
        width:80%;
    }
    .card .wrapper p{
        height:auto;
        margin-bottom:20px;
    }
    .card {
        border-radius:none;
    }
    .card:nth-child(1){
        border-radius:10px 10px 0 0;
    }
    .card:nth-child(2){
        border-radius:none;
    }
    .card:nth-child(3){
        border-radius:0 0 10px 10px;
    }
}